.v-autocomplete-input {
  margin-bottom: 24px;
  margin-left: 16px;
  padding: 10px 15px;
  width: calc(100% - 32px);
  outline: none;
  border: 1px solid #DFE3E9;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 0px 0 rgba(0,68,102,0);
  font-size: 1.5em;
  transition: all 0.24s var(--ease-out-cubic);
}
.v-autocomplete-input:focus {
  border: 1px solid #00FFA2;
  box-shadow: 0 0 4px 0 rgba(0,68,102,0.14);
}

.v-autocomplete-list {
  overflow-y: auto;
  margin-top: -28px;
  margin-left: 16px;
  max-height: 400px;
  width: calc(100% - 34px);
  border-top: none;
  border-right: 1px solid #00FFA2;
  border-bottom: 1px solid #00FFA2;
  border-left: 1px solid #00FFA2;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0,68,102,0.14);
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  transition: all 0.24s var(--ease-out-cubic);
}

.v-autocomplete-list-item {
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.24s var(--ease-out-cubic);
}

.v-autocomplete-list-item:hover {
    background-color: #fff;
}