:root {
  --dark-blue: #004466;
  --darker-blue: #00334C;
  --darkest-blue: #002A3F;
  --green: #00FFA2;
  --light-green: #4dffbe;
  --dark-green: #009d64;
  --red: #FF005D;
  --dark-red: #eb0056;
  --light-gradient: linear-gradient(-180deg, #FFFFFF 0%, #F7F7FA 100%);
  /* --dark-gradient: #004466; */
  /*
   cryptocoin color variables
   */
  --default-coin-color: #00FFA2;
  --ADC: #3CB0E5;
  --AEON: #164450;
  --AMP: #048DD2;
  --ANC: #000;
  --ARDR: #1162a1;
  --ARDR: #1162a1;
  --ARDR: #1162a1;
  --AUR: #136c5e;
  --BAT: #9e1f63;
  --BAY: #584ba1;
  --BCN: #964F51;
  --BRK: #194fa0;
  --BRX: #a8c300;
  --BSD: #1186E7;
  --BTA: #210094;
  --BTC: #F7931A;
  --BCH: #F7931A;
  --BTCD: #2A72DC;
  --BTS: #03A9E0;
  --CLAM: #D6AB31;
  --CLOAK: #DF3F1E;
  --DASH: #1c75bc;
  --DCR: #3b7cfb;
  --DCT: #008770;
  --DGB: #0066cc;
  --DGD: #D8A24A;
  --DMD: #5497b2;
  --DOGE: #BA9F33;
  --EMC: #674c8c;
  --EOS: #19191A;
  --ETC: #669073;
  --ETH: #282828;
  --FCT: #2175BB;
  --FLO: #1358C8;
  --FTC: #679EF1;
  --GAME: #ed1b24;
  --GLD: #E8BE24;
  --GNO: #00A6C4;
  --GNT: #00d6e3;
  --GOLOS: #2670B7;
  --GRC: #88A13C;
  --GRS: #648FA0;
  --ICN: #4c6f8c;
  --INCNT: #f2932f;
  --IOC: #2fa3de;
  --IOT: #000000;
  --KMD: #326464;
  --KORE: #DF4124;
  --LBC: #015C47;
  --LDOGE: #ffcc00;
  --LSK: #1A6896;
  --LTC: #838383;
  --MAID: #5492D6;
  --MINT: #006835;
  --MONA: #a99364;
  --MUE: #f5a10e;
  --NBT: #FFC93D;
  --NEO: #58BF00;
  --NEOS: #1d1d1b;
  --NLG: #003E7E;
  --NMC: #6787B7;
  --NVC: #ecab41;
  --NXT: #008FBB;
  --OK: #0165A4;
  --OMG: #1A53F0;
  --OMNI: #18347E;
  --PART: #05D5A3;
  --PINK: #ED31CA;
  --PIVX: #3b2f4d;
  --PPC: #3FA30C;
  --QRK: #22AABF;
  --RADS: #924cea;
  --RBY: #D31F26;
  --RDD: #ED1C24;
  --REP: #40a2cb;
  --RISE: #43CEA2;
  --SC: #00CBA0;
  --SNRG: #160363;
  --START: #01AEF0;
  --STEEM: #1A5099;
  --STORJ: #003366;
  --STRAT: #2398dd;
  --SWIFT: #428BCA;
  --SYS: #0098DA;
  --TRIG: #1fbff4;
  --TX: #1F8BCC;
  --UBQ: #00ec8d;
  --USDT: #2CA07A;
  --VRC: #418bca;
  --VTC: #1b5c2e;
  --WAVES: #24aad6;
  --XCP: #EC1550;
  --XEM: #41bf76;
  --XMR: #FF6600;
  --XPM: #e5b625;
  --XRP: #346AA9;
  --XVG: #42AFB2;
  --ZEC: #e5a93d;

  /* Coins without icons, default color for now */
  --ADA: var(--default-coin-color);
  --ANT: var(--default-coin-color);
  --ARK: var(--default-coin-color);
  --BNB: var(--default-coin-color);
  --ETP: var(--default-coin-color);
  --GAS: var(--default-coin-color);
  --GBYTE: var(--default-coin-color);
  --HSR: var(--default-coin-color);
  --KNC: var(--default-coin-color);
  --PAY: var(--default-coin-color);
  --POWR: var(--default-coin-color);
  --PPT: var(--default-coin-color);
  --QTUM: var(--default-coin-color);
  --SALT: var(--default-coin-color);
  --SNT: var(--default-coin-color);
  --VERI: var(--default-coin-color);
  --WTC: var(--default-coin-color);
  --XLM: var(--default-coin-color);
  --XUC: var(--default-coin-color);
}
