.ADC { color: #3CB0E5; }
.AEON { color: #164450; }
.AMP { color: #048DD2; }
.ANC { color: #000; }
.ARDR { color: #1162a1; }
.AUR { color: #136c5e; }
.BAT { color: #9e1f63; }
.BAY { color: #584ba1; }
.BCN { color: #964F51; }
.BRK { color: #194fa0; }
.BRX { color: #a8c300; }
.BSD { color: #1186E7; }
.BTA { color: #210094; }
.BTC, .BCH { color: #F7931A; }
.BTCD { color: #2A72DC; }
.BTS { color: #03A9E0; }
.CLAM { color: #D6AB31; }
.CLOAK { color: #DF3F1E; }
.DASH { color: #1c75bc; }
.DCR { color: #3b7cfb; }
.DCT { color: #008770; }
.DGB { color: #0066cc; }
.DGD { color: #D8A24A; }
.DMD { color: #5497b2; }
.DOGE { color: #BA9F33; }
.EMC { color: #674c8c; }
.EOS { color: #19191A; }
.ETC { color: #669073; }
.ETH { color: #282828; }
.FCT { color: #2175BB; }
.FLO { color: #1358C8; }
.FTC { color: #679EF1; }
.GAME { color: #ed1b24; }
.GLD { color: #E8BE24; }
.GNO { color: #00A6C4; }
.GNT { color: #00d6e3; }
.GOLOS { color: #2670B7; }
.GRC { color: #88A13C; }
.GRS { color: #648FA0; }
.ICN { color: #4c6f8c; }
.INCNT { color: #f2932f; }
.IOC { color: #2fa3de; }
.IOT { color: #000000; }
.KMD { color: #326464; }
.KORE { color: #DF4124; }
.LBC { color: #015C47; }
.LDOGE { color: #ffcc00; }
.LSK { color: #1A6896; }
.LTC { color: #838383; }
.MAID { color: #5492D6; }
.MINT { color: #006835; }
.MONA { color: #a99364; }
.MUE { color: #f5a10e; }
.NBT { color: #FFC93D; }
.NEO { color: #58BF00; }
.NEOS { color: #1d1d1b; }
.NLG { color: #003E7E; }
.NMC { color: #6787B7; }
.NVC { color: #ecab41; }
.NXT { color: #008FBB; }
.OK { color: #0165A4; }
.OMG { color: #1A53F0; }
.OMNI { color: #18347E; }
.PART { color: #05D5A3; }
.PINK { color: #ED31CA; }
.PIVX { color: #3b2f4d; }
.PPC { color: #3FA30C; }
.QRK { color: #22AABF; }
.RADS { color: #924cea; }
.RBY { color: #D31F26; }
.RDD { color: #ED1C24; }
.REP { color: #40a2cb; }
.RISE { color: #43CEA2; }
.SC { color: #00CBA0; }
.SNRG { color: #160363; }
.START { color: #01AEF0; }
.STEEM { color: #1A5099; }
.STORJ { color: #003366; }
.STRAT { color: #2398dd; }
.SWIFT { color: #428BCA; }
.SYS { color: #0098DA; }
.TRIG { color: #1fbff4; }
.TX { color: #1F8BCC; }
.UBQ { color: #00ec8d; }
.USDT { color: #2CA07A; }
.VRC { color: #418bca; }
.VTC { color: #1b5c2e; }
.WAVES { color: #24aad6; }
.XCP { color: #EC1550; }
.XEM { color: #41bf76; }
.XMR { color: #FF6600; }
.XPM { color: #e5b625; }
.XRP { color: #346AA9; }
.XVG { color: #42AFB2; }
.ZEC { color: #e5a93d; }
