input {
  padding: 10px 15px;
  background-color: var(--input-bg-theme-color);
  border: 1px solid #dfe3e9;
  border-radius: 6px;
  box-shadow: 0 0 0px 0 rgba(0, 68, 102, 0);
  color: var(--font-theme-color);
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  transition: all 0.24s var(--ease-out-cubic);
}

input:focus {
  border: 1px solid #00ffa2;
  box-shadow: 0 0 4px 0 rgba(0, 68, 102, 0.14);
}

select {
  margin-top: 8px;
  font-size: 16px;
}

.modal-input {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  text-align: left;
}

.error-message {
  margin-bottom: 24px;
  color: var(--red);
  text-align: left;
}

.input-error {
  color: var(--red);
  text-align: left;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 17, 26, 0.6);
  transition: opacity 0.25s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 0px auto;
  padding: 20px 30px;
  width: 375px;
  border-radius: 12px;
  background-color: var(--card-bg-theme-color);
  box-shadow: 0 3px 6px 0 rgba(0, 68, 102, 0.14);
  transition: all 0.25s ease;
}

.modal-header h3 {
  margin-top: 0;
  font-size: 24px;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  padding: 8px 16px;
  font-size: 16px;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transition: all 0.25s var(--ease-out-cubic);
  transform: scale(0.95);
  transform-origin: 50% 200%;
}

.select-style {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  width: auto;
  border-radius: 3px;
  text-align: left;
}

.select-style select {
  padding: 10px 15px;
  width: 50%;
  background-color: var(--input-bg-theme-color);
  border: 1px solid #dfe3e9;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 0 0px 0 rgba(0, 68, 102, 0);
  color: var(--font-theme-color);
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  transition: all 0.24s var(--ease-out-cubic);
  -webkit-appearance: none;
}

.select-style select:focus {
  border: 1px solid #00ffa2;
  box-shadow: 0 0 4px 0 rgba(0, 68, 102, 0.14);
}
